 <aside class="sidebar-dashboard">
      <div class="sidebar-brand">
        <div class="child-sidebar"><h3>Admin</h3></div>
        <nav>
          <ul class="sidebar-ul">
            <li><a href="/<%= adminLink %>/dashboard" class="active">Home <i class="fa-solid fa-house"></i></a></li>
            <li><a href="/<%= adminLink %>/cms/blog">Blog <i class="fa-solid fa-blog"></i></a></li>
            <li><a href="/<%= adminLink %>/settings">Settings <i class="fa-solid fa-gear"></i> </a></li>
            <span class="homepage-sidebar-span">Homepage <i class="fa-solid fa-pencil"></i></span>
            <div class="homepage-sidebar">
              <li><a href="/<%= adminLink %>/cms/header">Frontend - Header</a></li>
              <li><a href="/<%= adminLink %>/cms/about">Frontend - About</a></li>
              <li><a href="/<%= adminLink %>/cms/services">Frontend - Services</a></li>
              <li><a href="/<%= adminLink %>/cms/project">Frontend - Project</a></li>
              <li><a href="/<%= 
                adminLink %>/cms/contact">Frontend - Contact</a></li>
              <li><a href="/<%= adminLink %>/cms/experience">Frontend - Exp</a></li>
              <li><a href="/<%= adminLink %>/cms/blog">Frontend - Blog</a></li>
            </div>
          </ul>
        </nav>
      </div>
    </aside>