<%- include("../../partials/backend/header.ejs") %>

<div class="admin-dashboard-container">

  <%- include("../../partials/backend/sidebar.ejs") %>

  <section class="dashboard-content">
    <div class="cms-header">
      <h4>Hero</h4>
      <div class="cms-sub-header">
        <p>Dashboard</p>
        <p>/</p>
        <p>Projects</p>
      </div>


      <form action="/<%= adminLink %>/cms/project" method="POST" class="cms-form" data-redirect="/<%= adminLink %>/cms/project">
        <div class="instruction-hero">
          <h6>Update 
            Project Section</h6>
          <a class="btn btn-primary" href="/<%= adminLink %>/dashboard"> back</a>
        </div>

        <div class="cms-input-area">
          <span>
            <label class="cms-label" for="projectTitle">Project title</label>
            <input type="text" id="projectTitle" name="projectTitle" placeholder="Enter project title" value="<%= header.title %>" >
          </span>

        
      

          <span>
            <label class="cms-label" for="projectDescription">Project Description</label>
            <input type="text" id="projectDescription" name="projectDescription" placeholder="Enter project description" value="<%= header.text_paragraph %>" >
          </span>

     

          <button type="submit" class="cms-submit-btn">Save Changes</button>
        </div>
      
       <%- include("../../partials/backend/success-msg.ejs") %>
      </form>
    </div>

   

     <div class="project-plus-parent">
      <span>
        Total Project: <%= adminLink.length %>
      </span>
      <a href="/<%= adminLink %>/cms/new/project" class="btn add-btn">Add New Project</a>
      </div>

       <!--Table section-->

   <div class="table-container">
  <!-- Wrap everything inside here -->
  <div class="table-responsive">
     
    <div class="table-id">
      <h6>No</h6>
      <h6>Title</h6>
      <h6>Action</h6>
      <h6>Url</h6>
    </div>

    <% if(!projects || projects.length === 0) { %>
      <p>No Project Currently</p>
    <% } else { %>
      <% projects.forEach(items => { %>
        <div class="table-child">
          <span id="number"><%= items.id %></span>
          <span id="title"><%= items.project_name %></span>
          <span class="action-btn">
            <a class="btn edit-btn" href="/<%= adminLink %>/cms/project/<%= items.id %>">Edit</a>
            <form action="/<%= adminLink %>/cms/project/delete/<%= items.id %>" method="POST">
              <button type="submit" class="btn delete-btn">Delete</button>
            </form>
          </span>
          <span><%= items.project_url %></span>
        </div>
      <% }) %>
    <% } %>

  </div> 
</div>

    
    <%- include("../../partials/backend/footer.ejs") %>
  </section>
</div>
